<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">  
</head>

<body>

  <div class="chat">

    
    <form id="chat">
      <div class="input">
        <label for="nome" style="width: 14vw;">Type your name: </label>
        <input type="text" name="nome" id="nome" autocomplete="off" placeholder="Name" required style="margin-left: 1vw; width: 75vw;">
      </div>
        
        <div class="msgs">

          <div id="msgRecebida">
            <p>Nome</p>
            <p>Mensagem x</p>
            <p>Hora</p>
          </div>

        </div>
        <div class="input">
      <input type="text" name="msg" id="msg" autocomplete="off" placeholder="What are you thinking ?" required style="width: 75vw;">
      <input type="submit" value="Send" style="margin-left: 1vw; width: 14vw; cursor: pointer;">
    </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" charset="utf-8"></script>
  <script src="/js/main.js" charset="utf-8"></script>
</body>

</html>